* {
  all: unset;
  font-family: "comiccode";
  font-size: 12pt;
}


.container {
  background-image: url("./assets/border-symbolic.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  /* background-color: #1E1E2E; */
  /* border: 10px solid #B5D686; */
  /* border-radius: 10%; */
}

.lock-icon {
  background-image: url("./assets/test-sprite.png");
  background-repeat: no-repeat;
  background-position: center center;
  /* background-color: #1E1E2E; */
}

entry {
    background-color: #6b7f5c;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border: darkgray solid 2px;
    }
/*   min-width: 200px; */
/* } */

.password_entry {
  background-color: #F5C2E7;
  padding: 30px;

}

label {
  font-size: 20px;
}







/* caret-color */
/* text-decoration-color */
/* outline-color */
