* { all: unset; }


.container {
    background-color: #1E1E2E;
    padding: 20px;
    border: 10px solid #B5D686;
    border-radius: 10%;
}

entry {
    background-color: #B5D686;
    min-height: 100px;
}

.password_entry {
  background-color: #F5C2E7;
  padding: 30px;
}

label {
  font-size: 20px;
}

